# node_modules y build
node_modules/
dist/

# archivos del entorno
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# configuraciones locales
.vscode/
.idea/

# sistema operativo
.DS_Store
Thumbs.db
